<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean name="kypending_Initializer" class="com.seeyon.apps.ext.kypending.kypendingPluginInitializer"/>
    <bean id="ykdMessagePipeline" class="com.seeyon.apps.ext.kypending.message.YkdMessagePipeline"/>
    <bean id="collaborationEvent" class="com.seeyon.apps.ext.kypending.listener.CollaborationEvent"/>
    <bean id="edocListener" class="com.seeyon.apps.ext.kypending.listener.EdocListener"/>
</beans>