<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName" >
	<bean id="addCKSQBillListener" class="com.seeyon.apps.yuwell.listener.AddCKSQBillListener" >
		<property name="addCKSQBillHostName" value="${addCKSQBillHostName.hostName}" />
	</bean>
	<bean id="addEPBankBillListener" class="com.seeyon.apps.yuwell.listener.AddEPBankBillListener" >
		<!--服务器地址 -->
		<property name="ipconfig" value="${addEPBankBillHostName.hostName}" />		
	</bean>
</beans>
