<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance 
	http://www.springmodules.org/schema/cache/springmodules-cache.xsd 
	http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<!-- SSO 常量 START --> 
	<context-param>
		<param-name>ssoServerUrl</param-name>
		<param-value>http://localhost:80/seeyon</param-value>
	</context-param>
	<context-param>
		<param-name>localExitUrl</param-name>
		<param-value>/exit</param-value>
	</context-param>
	<context-param>
		<param-name>needLoginUrls</param-name>
		<param-value>/main</param-value>
	</context-param>
	<!-- SSO 常量  END--> 
 
	<!-- UrlFilter --> 
	<filter>
		<filter-name>urlFilter</filter-name>
		<filter-class>yh.app1.filter.UrlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>urlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- ssoClientFilter --> 
	<filter>
		<filter-name>ssoClientFilter</filter-name>
		<filter-class>yh.app1.filter.SSOClientFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ssoClientFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--监听器-->
	<listener>
		<listener-class>yh.app1.listener.LocalSessionListener</listener-class>
	</listener>
	<!-- servlet -->
	<!-- 主页 -->
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>yh.app1.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<!-- 退出 -->
	<servlet>
		<servlet-name>exit</servlet-name>
		<servlet-class>yh.app1.servlet.ExitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exit</servlet-name>
		<url-pattern>/exit</url-pattern>
	</servlet-mapping>
</web-app>
