.relation_container .panel_bottom .zidong_guanlian .guanlian_map{
    padding-left: 10px;
}
.relation_container .panel_bottom .zidong_guanlian .guanlian_map .error-title{
    margin: 0 2px;
    visibility: hidden;
}
.relation_container .panel_bottom .zidong_guanlian .guanlian_map .error-title.active{
    visibility: visible;
}
.relation_container .biz_groupguanlian .div_sel3.active{
    border-color: red;
}