<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="adaptMobile" class="com.seeyon.v3x.mobile.adapter.sms.AdaptMobileImpl">
		<property name="url" value="http://www.baidu.com" />
		<property name="account" value="test" />
		<property name="pwd" value="test" />
	</bean>
	
	<bean id="jzMsgPipeline" class="com.seeyon.apps.jzMsg.JzMsgPipeline" />
	
</beans>