<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName" default-lazy-init="false" default-dependency-check="none">

    <bean id="xk263EmailSection" class="com.seeyon.apps.ext.xk263Email.section.Xk263EmailSection" init-method="init">
        <property name="sectionType" value="common"/>
        <property name="sortId" value="99"/>
    </bean>


</beans>
