<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="tijiaoListen" class="com.seeyon.apps.collaboration.listener.TijiaoListener">
	</bean>
	
	<bean id="gongwentijiaoListen" class="com.seeyon.apps.collaboration.listener.GongwenTijiaoListener">
	</bean>
</beans>