<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean name="kfqMessage_Initializer" class="com.seeyon.apps.ext.kfqMessage.kfqMessagePluginInitializer"/>
    <bean id="collabrationEvent" class="com.seeyon.apps.ext.kfqMessage.listener.CollabrationEvent"/>
</beans>