<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- <bean name="samples_systemInitializer" class="com.seeyon.apps.meetingSeat.meetingSeatPluginInitializer">
	  <property name="sortOrder">
	    <value>7</value>
	  </property>
	</bean> -->
	<bean name="samples_systemInitializer2" class="com.seeyon.apps.meetingSeat.meetingSeatPluginInitializer">
	 <!--  <property name="sortOrder">
	    <value>2</value>
	  </property> -->
	</bean>
</beans>