<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="xzykManager" class="com.seeyon.apps.ext.zxzyk.manager.xzykManagerImpl"/>
    <bean id="orgDeptManager" class="com.seeyon.apps.ext.zxzyk.manager.OrgDeptManagerImpl"/>
    <bean id="orgLevelManager" class="com.seeyon.apps.ext.zxzyk.manager.OrgLevelManagerImpl"/>
    <bean id="orgMemberManager" class="com.seeyon.apps.ext.zxzyk.manager.OrgMemberManagerImpl"/>

<!--    <bean parent="pluginMainMenu">-->
<!--        &lt;!&ndash;主菜单ID，唯一的数字字符串 &ndash;&gt;-->
<!--        <property name="id" value="20190730"/>-->
<!--        &lt;!&ndash;主菜单名称 &ndash;&gt;-->
<!--        <property name="name" value="同步测试"/>-->
<!--        &lt;!&ndash;主菜单排序 &ndash;&gt;-->
<!--        <property name="sortId" value="1"/>-->
<!--        &lt;!&ndash;菜单认证类 &ndash;&gt;-->
<!--        <property name="menuCheck">-->
<!--            <bean class="com.seeyon.ctp.menu.check.MenuForAllUsersChecker"/>-->
<!--        </property>-->
<!--        &lt;!&ndash;二级菜单 &ndash;&gt;-->
<!--        <property name="children">-->
<!--            <list>-->
<!--                <bean class="com.seeyon.ctp.plugin.PluginMenu">-->
<!--                    &lt;!&ndash;二级菜单ID唯一数字串 &ndash;&gt;-->
<!--                    <property name="id" value="11111"/>-->
<!--                    &lt;!&ndash;二级菜单名称 &ndash;&gt;-->
<!--                    <property name="name" value="部门同步"/>-->
<!--                    &lt;!&ndash;菜单打开方式：mainfrm: 工作区打开; newWindow: 新窗口打开 &ndash;&gt;-->
<!--                    <property name="target" value="mainfrm"/>-->
<!--                    &lt;!&ndash;菜单图标 &ndash;&gt;-->
<!--                    <property name="icon" value="/apps_res/plugin/nc/images/2401.gif"/>-->
<!--                    &lt;!&ndash;菜单链接地址，这个连接必须是协同的内部连接 &ndash;&gt;-->
<!--                    <property name="url" value="/ext/xzyk.do?method=syncDept"/>-->
<!--                    &lt;!&ndash;菜单访问认证类 &ndash;&gt;-->
<!--                    <property name="menuCheck">-->
<!--                        <bean class="com.seeyon.ctp.menu.check.UserMenuCheck"/>-->
<!--                    </property>-->
<!--                </bean>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->
</beans>