<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="portal190724Manager" class="com.seeyon.apps.ext.Portal190724.manager.Portal190724ManagerImpl">
    </bean>

    <bean id="sectionPortal" class="com.seeyon.apps.ext.Portal190724.section.SectionPortal" init-method="init">
        <property name="sectionType" value="common"/>
        <property name="sortId" value="99"/>
    </bean>

    <bean name="sampleTask" class="com.seeyon.apps.ext.quartz.SampleTask"/>


    <bean parent="pluginMainMenu">
        <!--主菜单ID，唯一的数字字符串 -->
        <property name="id" value="444446" />
        <!--主菜单名称 -->
        <property name="name" value="单点登录" />
        <!--主菜单排序 -->
        <property name="sortId" value="1" />
        <!--菜单认证类 -->
        <property name="menuCheck">
            <bean class="com.seeyon.ctp.menu.check.MenuForAllUsersChecker" />
        </property>
        <!--二级菜单 -->
        <property name="children">
            <list>
                <bean class="com.seeyon.ctp.plugin.PluginMenu">
                    <!--二级菜单ID唯一数字串 -->
                    <property name="id" value="11111" />
                    <!--二级菜单名称 -->
                    <property name="name" value="设置账户" />
                    <!--菜单打开方式：mainfrm: 工作区打开; newWindow: 新窗口打开 -->
                    <property name="target" value="mainfrm" />
                    <!--菜单图标 -->
                    <property name="icon" value="/apps_res/plugin/nc/images/2401.gif" />
                    <!--菜单链接地址，这个连接必须是协同的内部连接 -->
                    <property name="url" value="/ext/setUserController.do?method=toSetUserPage" />
                    <!--菜单访问认证类 -->
                    <property name="menuCheck">
                        <bean class="com.seeyon.ctp.menu.check.UserMenuCheck" />
                    </property>
                </bean>
            </list>
        </property>
    </bean>
</beans>
